@tailwind base;
@tailwind components;
@tailwind utilities;

.white-tooltip {
    opacity: 1 !important;
}

.white-tooltip .rc-tooltip-arrow {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.white-tooltip .rc-tooltip-content {
    border-radius: 6px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05)
}

.white-tooltip .rc-tooltip-inner {
    background-color: white;
    color: #1E222B;
    padding: 12px;
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}