.clipsheet-table .rc-table-body {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;
}
.clipsheet-table .rc-table-body,
.clipsheet-table .rc-table-content,
.clipsheet-table .rc-table-header {
  border-color: transparent;
  border-width: 0;
}

.clipsheet-table.rc-table thead th {
  background-color: transparent;
}
.clipsheet-table .rc-table-cell.rc-table-cell-row-hover {
  background-color: rgba(46, 106, 248, 0.06);
}

.clipsheet-table.rc-table th,
.clipsheet-table.rc-table td {
  padding: 0;
  border-color: transparent;
  border-width: 0;
}

.clipsheet-table-rounded table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

.clipsheet-table-rounded th:first-child {
  border-top-left-radius: 6px !important;
}

.clipsheet-table-rounded th:last-child {
  border-top-right-radius: 6px !important;
}

.clipsheet-table-rounded tr:last-child td:first-child {
  border-bottom-left-radius: 6px !important;
}

.clipsheet-table-rounded tr:last-child td:last-child {
  border-bottom-right-radius: 6px !important;
}


.clipsheet-table-bordered td:first-child, 
.clipsheet-table-bordered th:first-child {
  border-left: none !important;
}
.clipsheet-table-bordered td {
  border-left: 1px solid #cdd0d8 !important;
  border-bottom: 1px solid #cdd0d8 !important;
}
.clipsheet-table-bordered td:last-child {
  border-right: 1px solid #cdd0d8 !important;
}

.clipsheet-table-bordered th {
  border-width: 0 !important;
  border-left: 1px solid #cdd0d8 !important;
}
