.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  background-color: #282c34;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rc-tooltip-placement-bottomRight {
  padding-top: 5px !important;
}

.rc-tooltip-placement-topRight {
  padding-bottom: 5px !important;
}

.white-tooltip {
  opacity: 1 !important;
}

.white-tooltip .rc-tooltip-arrow {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}

.white-tooltip .rc-tooltip-content {
  border-radius: 6px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05)
}

.white-tooltip .rc-tooltip-inner {
  background-color: white;
  color: #1E222B;
  padding: 12px;
  box-shadow: none;
}

.user-tooltip .rc-tooltip-content {
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(30, 34, 43, 0.08);
}

.user-tooltip .rc-tooltip-inner {
  padding: 0;
}
